{% extends "model.html" %}
{% block titulo1 %} Buscar Pokémon {% endblock %}

{% block conteudo %} 

<div class="edit-container">
    <div class="img-container">
        <img src="{{google_search}}">
    </div>
    
    <form method="POST" action="/editar">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="old_nome" value="{{ buscar['nome'] }}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ buscar['nome'] }}" required>
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" value="{{ buscar['tipo'] }}" required>
        </div>
        <div class="form-group-btns">
            <button type="submit">Salvar Mudanças</button>
            <button type="submit" id="botao_deletar" formaction="/deletar">Deletar</button>
            <button type="button" onclick="window.location.href= '/'">Voltar</button>
        </div>
        
    </form>
</div>

<script>

    var botao_deletar = document.getElementById('botao_deletar')

    botao_deletar.addEventListener('click', function(event) {

        var confirmar = confirm('Tem certeza que gostaria de deletar o registro desse Pokémon?')

        if(!confirmar) {
            event.preventDefault()
        }
    })

</script>


{% endblock %}

