{% extends "model.html" %}
{% block titulo1 %} Cadastrar novo Pokémon {% endblock %}

{% block conteudo %} 

<div class="edit-container">
    <form action="/" method="POST">
        <div class="form-group">
            <label for="form_name">Nome:</label>
            <input type="text" id="form_name" name="nome" required>
            <label for="form_type">Tipo:</label>
            <input type="text" id="form_type" name="tipo" required>
        </div>

        <div class="form-group-btns">
        <button type="submit" id="form_submit">Cadastrar</button>
        <button type="button" onclick="window.location.href= '/'">Voltar</button>
        </div>
    </form>
    
</div>

{% endblock %}
