{% extends "model.html" %}
{% block titulo1 %} Buscar Pokémon {% endblock %}



{% block conteudo %}

<h1>Sistema de armazenamento Pokémon</p>
    <p>Os Pokémons cadastrados são:</p>
    <ul>
        {% for c in listagem %}
            <li>Nome: {{c['nome']}} - Tipo: {{c['tipo']}}</li>
        {% endfor %}
    </ul>
    
    <div class="edit-container">
        <form action="/buscar" method="POST">
            <div class="form-group">
                <label for="form_name">Pesquisar:</label>
                <input type="text" id="form_name" name="nome">
            </div>
            <div class="form-group-btns">
                <button type="submit" id="form_submit">Pesquisar</button>
                <button type="button" onclick="window.location.href= '/cadastro'">Cadastrar novo</button>
            </div>
            
        </form>
            
    </div>



    <script>

        var zero = '{{ ja_cadastrado }}'
        var zero_dois = '{{ not_found }}'
            
        if(zero) {
            alert('Pokémon já cadastrado')
        }
        if(zero_dois) {
            alert('Pokémon não encontrado')
        }
        

    /*  function redirect() {   alternativa para redirecionamento, boa ideia
            window.location.href= '/cadastro'
        }
    */
    </script>
{% endblock %}

